body {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    font-family: Roboto;
    margin: 0;
}

.content {
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 100px;
}


#header, #footer, #hero {
    background-color: #1F2937;
}

/* Header */
#header {
    display: flex;
    justify-content: space-between;
    
}

#left, #right{
    display: flex;
    align-items: center;
}

#left {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

#right {
    font-size: 18px;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 16px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

/* Footer */
#footer {
    text-align: center;
    color: #E5E7EB;
    padding: 30px;
}

/* Hero */
#hero {
    display: flex;
    justify-content: space-between;
    padding-bottom: 100px;
}

#heroContent {
    align-items: stretch;
    flex: 1;
}

#heroHeader {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    margin: 5px;
}

#heroSubText {
    font-size: 18px;
    color: #E5E7EB;
    font-weight: 900;
    margin: 5px;
}

#btnSignUp {
    background-color: #3882F6;
    color: white;
    font-size: 18px;
    padding: 5px 40px;
    margin: 5px;
    border-radius: 8px;
}

/* Information */ 
#infoHeader {
    color:#1F2937;
    font-size: 36px;
    font-weight: 900;
    display: flex;
    justify-content: center;
    padding: 50px; 
}

#cardContainer {
    display: flex;
    justify-content: center;
    gap:50px;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;   
}
.card {
    border: 5px solid #3882F6;
    border-radius: 18px;
    width: 150px; 
    height: 150px;
    margin-bottom: 5px;
}

.text {
    text-align: center;
    color: #1F2937;
    width: 150px;
}

